@page "/feedbacks/details"
@using Microsoft.EntityFrameworkCore
@using CarBookingProject_0.Domain
@inject IDbContextFactory<CarBookingProject_0.Data.CarBookingProject_0Context> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Feedback</h2>
    <hr />
    @if (feedback is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Rating</dt>
            <dd class="col-sm-10">@feedback.Rating</dd>
            <dt class="col-sm-2">Comments</dt>
            <dd class="col-sm-10">@feedback.Comments</dd>
            <dt class="col-sm-2">FeedbackDateTime</dt>
            <dd class="col-sm-10">@feedback.FeedbackDateTime</dd>
            <dt class="col-sm-2">RideId</dt>
            <dd class="col-sm-10">@feedback.RideId</dd>
            <dt class="col-sm-2">UserId</dt>
            <dd class="col-sm-10">@feedback.UserId</dd>
            <dt class="col-sm-2">DateCreated</dt>
            <dd class="col-sm-10">@feedback.DateCreated</dd>
            <dt class="col-sm-2">DateUpdated</dt>
            <dd class="col-sm-10">@feedback.DateUpdated</dd>
            <dt class="col-sm-2">CreatedBy</dt>
            <dd class="col-sm-10">@feedback.CreatedBy</dd>
            <dt class="col-sm-2">UpdatedBy</dt>
            <dd class="col-sm-10">@feedback.UpdatedBy</dd>
        </dl>
        <div>
            <a href="@($"/feedbacks/edit?id={feedback.Id}")">Edit</a> |
            <a href="@($"/feedbacks")">Back to List</a>
        </div>
    }
</div>

@code {
    private Feedback? feedback;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        feedback = await context.Feedback.FirstOrDefaultAsync(m => m.Id == Id);

        if (feedback is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
