@page "/roles/delete"
@using Microsoft.EntityFrameworkCore
@using CarBookingProject_0.Domain
@inject IDbContextFactory<CarBookingProject_0.Data.CarBookingProject_0Context> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>Role</h2>
    <hr />
    @if (role is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">RoleType</dt>
            <dd class="col-sm-10">@role.RoleType</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">UserId</dt>
            <dd class="col-sm-10">@role.UserId</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">DateCreated</dt>
            <dd class="col-sm-10">@role.DateCreated</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">DateUpdated</dt>
            <dd class="col-sm-10">@role.DateUpdated</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">CreatedBy</dt>
            <dd class="col-sm-10">@role.CreatedBy</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">UpdatedBy</dt>
            <dd class="col-sm-10">@role.UpdatedBy</dd>
        </dl>
        <EditForm method="post" Model="role" OnValidSubmit="DeleteRole" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(role is null)">Delete</button> |
            <a href="/roles">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private Role? role;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        role = await context.Role.FirstOrDefaultAsync(m => m.Id == Id);

        if (role is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteRole()
    {
        using var context = DbFactory.CreateDbContext();
        context.Role.Remove(role!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/roles");
    }
}
