@page "/vehicles/details"
@using Microsoft.EntityFrameworkCore
@using CarBookingProject_0.Domain
@inject IDbContextFactory<CarBookingProject_0.Data.CarBookingProject_0Context> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Vehicle</h2>
    <hr />
    @if (vehicle is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">LicensePlate</dt>
            <dd class="col-sm-10">@vehicle.LicensePlate</dd>
            <dt class="col-sm-2">Model</dt>
            <dd class="col-sm-10">@vehicle.Model</dd>
            <dt class="col-sm-2">Manufacturer</dt>
            <dd class="col-sm-10">@vehicle.Manufacturer</dd>
            <dt class="col-sm-2">Year</dt>
            <dd class="col-sm-10">@vehicle.Year</dd>
            <dt class="col-sm-2">Status</dt>
            <dd class="col-sm-10">@vehicle.Status</dd>
            <dt class="col-sm-2">MaximumPassengers</dt>
            <dd class="col-sm-10">@vehicle.MaximumPassengers</dd>
            <dt class="col-sm-2">UserId</dt>
            <dd class="col-sm-10">@vehicle.UserId</dd>
            <dt class="col-sm-2">DateCreated</dt>
            <dd class="col-sm-10">@vehicle.DateCreated</dd>
            <dt class="col-sm-2">DateUpdated</dt>
            <dd class="col-sm-10">@vehicle.DateUpdated</dd>
            <dt class="col-sm-2">CreatedBy</dt>
            <dd class="col-sm-10">@vehicle.CreatedBy</dd>
            <dt class="col-sm-2">UpdatedBy</dt>
            <dd class="col-sm-10">@vehicle.UpdatedBy</dd>
        </dl>
        <div>
            <a href="@($"/vehicles/edit?id={vehicle.Id}")">Edit</a> |
            <a href="@($"/vehicles")">Back to List</a>
        </div>
    }
</div>

@code {
    private Vehicle? vehicle;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        vehicle = await context.Vehicle.FirstOrDefaultAsync(m => m.Id == Id);

        if (vehicle is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
